#div_informacion
{
    font-family: tahoma,helvetica,arial;
    font-size: 12px;
}

#tabla_planeacion
{
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    font-family: tahoma,helvetica,arial;
    font-size: 12px;
    width: 700px;
}

ul
{
    list-style: disc;
}

td
{
    border: 1px solid #EEEEEE;
    padding: 3px;
}

#header
{
    background-color: #EEEEEE;
    width: 100%;
}

.no_bloque
{
    font-weight: bold;
    width: 60px;
}